*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
}

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem
}

.navbar__link {
    color: #335576;
    text-decoration: none;
}


.navbar__list {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar__listitem {
    margin-right: 10px;
}

.navbar__listitem a {
    text-decoration: none;
    color: #335576;
    font-size: 1.5rem;
}
:
.tagline-hero__container {
    display: flex;
    background-color: #fff0ed;
    height: 40rem;
}

.tagline-hero__box1 h1 {
    display: flex;
    justify-content: space-evenly;
    font-size: 03rem;
    margin-right: 1rem;
    margin-left: 2rem;
    width: 60%;
    color: #335576;

}

.tagline-hero__about {
    display: flex
}

.tagline-hero__box2 img {
    width: 70%;

}

.Recomendations__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 5rem;
}

.card {
    flex: 1;
    border-radius: .625rem;
    overflow: hidden;
    margin-bottom: 5rem;

}

.recomendations__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .625rem;
}

.card-link {
    position: absolute;
    bottom: 10rem right: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #FEFAF5;
    color: #335576;
    padding: 20px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1222px;
    margin: 0 auto;
}

.footer__box {
    flex: 1;
    text-align: center;
}

.footer__box h3 {
    margin-bottom: 10px;
}

.footer__box p {
    margin: 5px 0;
}

.footer__social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.footer__social-icons img {
    width: auto;
    height: 30px;
}